<div class="post-tabs" style="margin-top: 16px;">
    <ul class="posts" style="margin: 0px;border-top: none; list-style-type: none;">
        {% for post in posts %}
            <li class="post" style="padding: 8px;border-bottom: 1px solid #e0e0e0;">
                <div class="post-thumbnail" style="position: absolute;">
                    <a href="{{ url_for('.user', username=post.author.username) }}">
                        <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
                    </a>
                </div>
                <div class="post-content" style=" margin-left: 48px;
    min-height: 48px;">
                    <div class="post-date" style="float: right;">{{ moment(post.timestamp).fromNow() }}</div>
                    <div class="post-author" style="font-weight: bold;"><a
                            href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a>
                    </div>
                    <div class="post-body">
                        {% if post.body_html %}
                            {{ post.body_html | safe }}
                        {% else %}
                            {{ post.body | safe }}
                        {% endif %}
                    </div>
                    <div class="post-footer">
                        {% if current_user == post.author %}
                            <a href="{{ url_for('.edit', id=post.id) }}">
                                <span class="label label-primary">Edit</span>
                            </a>
                        {% elif current_user.is_administrator() %}
                            <a href="{{ url_for('.edit', id=post.id) }}">
                                <span class="label label-danger">Edit [Admin]</span>
                            </a>
                        {% endif %}
                        <a href="{{ url_for('.post', id=post.id) }}">
                            <span class="label label-default">Permalink</span>
                        </a>
                        <a href="{{ url_for('.post', id=post.id) }}#comments">
                            <span class="label label-primary">{{ post.comments.count() }} Comments</span>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>